/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-primary-variant-2: var(--color-light-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
    --color-text-gray: var(--color-gray-text);

    /* Background */
    --home-bg-gradient: linear-gradient(180deg, rgba(8, 26, 60, 1) 0%, rgb(5, 10, 19, 1) 100%);
    --home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232E3340' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23013538'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    --home-avatar-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1800" fill="%23FFC03C"><path d="M1386.57 181.4c160.9 73.74 328.5 149.72 424.59 281.57 96.09 129.61 118.44 315.09 98.33 487.16-20.11 172.07-84.92 332.97-187.71 446.94-105.03 116.2-250.29 185.48-391.07 243.58-138.55 60.34-272.63 109.5-393.31 91.62-122.91-17.88-234.64-102.8-377.66-160.9-143.02-58.1-317.33-87.15-406.71-183.24-89.39-96.09-96.09-261.46 2.23-368.72 98.33-109.5 301.68-160.9 384.37-270.4 82.68-111.73 42.46-283.81 84.92-422.36C669.24 188.1 798.86 80.83 937.41 60.72c140.79-20.11 290.51 49.16 449.17 120.67Z"></path></svg>');


    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-light-orange: #ff955c;
    --color-gray: #1b1e26;
    --color-gray-text: #706c6c;
    --color-light-gray: #b4b7bf;

    /* Border */
    --color-border: #ebebeb;
    --color-form-bg: #f7f8fa;

    /* Size */
    --size-max-width: 1200px;

    /* Divider */
    --divider-single-triangle: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z"></path> </svg>');
    --divider-single-triangle-small: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"></path> </svg>');
    --divider-one-wave: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path> </svg>');
    --divider-double-wave: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25"></path> <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5"></path> <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"></path> </svg>');


    /* transition */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

::selection {
    color: #fff;
    background: var(--color-primary-variant);
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


.top__container {
    display: flex;
    gap: 1rem;
    align-items: end;
}


.top__container---column {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

/*-----------------------------------*\
    #Header
\*-----------------------------------*/
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 300ms ease;
}

.header__nav.besides {
    display: none;
}

.header--dark {
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.48) 0px 3px 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
    color: #fff;
}

.header__menu {
    display: flex;
    gap: 4px;
    font-size: 1rem;
}

.header__menu__item {
    display: block;
    padding: 8px 16px;
    color: #fff;
    border-bottom: 1px solid transparent;

}

.header__menu__item:hover,
.header__icon:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

.header__icon__wrap {
    display: flex;
    gap: 1rem;
}

.header__icon {
    color: var(--color-white);
    font-size: 1.25rem;
    padding: 8px;
    cursor: pointer;
}

.header__nav__toggle:hover {
    color: var(--color-accent);
    transition: all 300ms ease;
}

/*-----------------------------------*\
    #Home
\*-----------------------------------*/
#home {
    position: relative;
    min-height: 25vh;
    background-color: var(--color-primary);
    background-image: var(--home-bg-svg);
    color: var(--color-text);
    padding: 5rem 1rem 2rem 1rem;
    padding-top: 5rem;
    text-align: center;
    overflow: hidden;
}

#home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 1.3px);
    height: 24px;
    overflow: hidden;
    line-height: 0;
    background-color: var(--color-white);
    transform: rotate(180deg);
    mask: var(--divider-one-wave);
    -webkit-mask: var(--divider-one-wave);
    mask-size:100% 100%;
}

.home__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: nowrap;
}

.home__avatar {
    position: relative;
    width: 360px;
    height: 360px;
    object-fit: cover;
    opacity: 0.7;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact__btn {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.home__contact__btn:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

.page__title__wrap {
    margin: 3rem 0 1rem 0 ;
    padding: 1rem;
}

.page__title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--color-light-gray);
    
}
/*-----------------------------------*\
    #About
\*-----------------------------------*/
#about {
    position: relative;
    background-color: var(--color-primary-variant);
}

#about::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 1.3px);
    height: 54px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--color-primary);
    mask: var(--divider-double-wave);
    -webkit-mask: var(--divider-double-wave);
}

.about__title {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--color-white);
}

.about__description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: var(--color-white);

}

.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary);
    padding: 2rem 1rem;
    color: var(--color-white);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4.0px 8.0px 8.0px rgba(0, 0, 0, 0.38);
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-white);
    transition: all 300ms ease;
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

/*-----------------------------------*\
    #Skills
\*-----------------------------------*/
#skills {
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary-variant);
}

.skills__tools {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(120%);

}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(160%);
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    height: 3px;
    background-color: var(--color-accent);
}

/*-----------------------------------*\
    portfolio.html
\*-----------------------------------*/
#portfolio {
    position: relative;
    color: var(--color-primary);
    margin: 4rem auto 6rem;
    padding: 0 2rem;
}
#portfolio a {
    color: #fff;
}

.more__btn__wrap {
    text-align: right;
}

.more__btns {
    padding: .5rem 1rem;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.more__btn {
    color: var(--color-gray-text);
    font-weight: 500;
    font-size: 1em;
    text-decoration-line: underline;
    transition: all 200ms ease;
}

.more__btn:hover {
    color: var(--color-accent);
}

.more__btn i {
    margin-left: .5rem;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-primary);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    border-radius: 100%;
    transition: all 250ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    transition: all 200ms ease-out;
}

.projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.project__img {
    width: 100%;
}

.project__metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.project__metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__title::after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/*-----------------------------------*\
    Production__line.html
\*-----------------------------------*/
.production__wrap {
    padding: 4rem 8rem;
}

#production__line {
    color: var(--color-primary);
    margin: 1rem auto;
    padding: 0 1rem;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--color-border);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .row {
    display: flex;
}

.wrapper .row-1 {
    justify-content: flex-start;
}

.wrapper .row-2 {
    justify-content: flex-end;
}

.wrapper .row section {
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detail__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.detail__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-gray-text);
    margin-bottom: 4px;
}

.row section p {
    margin: 10px 0 17px 0;
}

.row section .bottom a {
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}

.row section .bottom a:hover {
    transform: scale(0.97);
}

@media(max-width: 790px) {
    .wrapper .center-line {
        left: 20px;
    }

    .wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .wrapper .row section {
        width: 100%;
    }

    .row-1 section::before {
        left: -7px;
    }

    .row-1 section .icon {
        left: -60px;
    }
}

@media(max-width: 440px) {

    .wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }

    .wrapper .row {
        margin: 10px 0;
    }
}



/*-----------------------------------*\
    Price
    견적 신청
\*-----------------------------------*/
#price {
    margin: 4rem auto;
    padding: 0 10rem;
}

.price-container {
    margin: 8rem 0 10rem 0;
    padding: 4rem;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 4px;
    border: 1px solid var(--color-border);
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;

}

.price__title {
    font-size: 2rem;
    line-height: 1;
}

.price__description {
    color: var(--color-gray);
}

.price__forms {
    text-align: left;
    margin-top: 2rem;
}

.form__comments {
    margin-bottom: 2rem;
}

.form__comment {
    font-size: 1rem;
    color: var(--color-black);
    padding: 1rem;
    background-color: rgb(235, 76, 41, .1);
    border-radius: 4px;

}

.form__comment a {
    display: inline;
    color: var(--color-orange);
    font-weight: 500;
    text-decoration-line: underline;
}

.price__input {
    margin-bottom: 1rem;
}

.agree__box {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    font-size: .85rem;
    text-wrap: wrap;
}

.agree__box a {
    margin-left: .5rem;
    color: var(--color-orange);
    text-decoration: underline;
}

.input__checkbox {
    width: 16px;
    top: 0;
    margin-right: .5rem;
}

.input__checkbox a {
    font-size: .8rem;
    text-align: right;
    text-decoration-line: underline;
    color: #eb4b29;
    font-weight: 500;
    margin-left: 24px;
}

.service__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

.service__item {
    display: flex;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-gray);
}

.price__btn {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--color-blue);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.25rem;
    transition: all 300ms ease;
}

.price__btn:hover {
    outline: 1px solid var(--color-blue);
    background-color: #fff;
}

.price__btn a {
    color: var(--color-gray);

}

/* ----------------------*\
 *  고객센터 
    customer_list.html
    customer_write.html
    customer_read.html
\* ----------------------*/

#board__table__form {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 2rem 0 8rem;
    padding: 1rem 2rem;
}

/* customer_list style start */
.board__table__list a {
    color: var(--color-gray);
}

.boardlist__top__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.boardlist__total,
.table__top__right a {
    font-size: 1rem;
    color: var(--color-gray);
    padding: .5rem 0;
}

.table__top__right a {
    margin-left: 1rem;
    transition: all 300ms ease;
}

.table__top__right a:hover {
    color: var(--color-gray-text);
}

.table__top__right {
    display: flex;
    align-items: center;
}

.btn__sorts {
    position: relative;
}

.sort__list{
    position: absolute;
    display: none;
    top: 32px;
    left:-36px;
    background-color: white;
    padding: 1rem 0;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    z-index: 100;
}    

.sort__list.active {
    display: block;
}

.sort__list li {
    padding: .5rem 2rem;
    font-size: 1rem;
    text-align: center;
}    

.sort__list li:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
}    

.sort__list li:hover{
    background-color: var(--color-light-gray);
}    

.board__table__list {
    width:100%;
    border-collapse: collapse;
}

.board__table__list th {
    padding: 1rem .5rem;
    font-size: 1rem;
    border-top: 2px solid var(--color-primary);
    border-bottom: 1px solid var(--color-light-gray);
}

.board__table__list tbody tr:nth-child(1) {
    font-weight: 600;
}

.board__table__list td {
    max-width: 0;
    height: 32px;
    vertical-align: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alim{
    display: inline-block;
    padding:2px;
    width: 36px;
    border-radius: 3px;
    color:#fff;
    text-align: center;
    background-color: red;
}

.title__list__count {
    color: var(--color-orange);
    margin-left: 1rem;
}

.board__table__list tbody tr:hover{
    background-color: #f1f1f1;
}

.num__list {
    min-width: 80px;
    max-width: 120px;
    text-align: center;
}

.title__list {
    min-width: 200px;
    max-width: 400px;
    text-align: left;
}

.name__list {
    min-width: 100px;
    max-width: 110px;
    text-align: center;
}

.date__list {
    min-width: 80px;
    max-width: 90px;
    text-align: center;
}

.counts__list {
    min-width: 80px;
    max-width: 90px;
    text-align: center;
}

.table__bottom {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

/* pagination */
.bl-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bl-page .pagination {
    position: relative;
    height: 30px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.bl-page .pagination li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    border: 1px solid var(--color-border);
}

.bl-page .pagination li:after {
    display: block;
    content: '';
}

.bl-page .pagination li a {
    position: relative;
    padding: 6px 8px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.bl-page .pagination li a, 
.bl-page .pagination li i{
    font-size: 1rem;
    color: var(--color-gray);
}

.bl-page .pagination li a:hover,
.bl-page .pagination li a:hover i {
    background:var(--color-primary);
    color: #fff;
}


.board__btn__wrap {
    width: 100%;
    padding: 2rem, 1rem;
}

.btn__list {
    width: 100px;
    padding: .5rem;
    color:var(--color-white);
    font-size: .85rem;
    color: var(--primary-color);
    border:1px solid var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease
}

.btn__list:hover{
    color: #fff;
    background-color: var(--color-primary);
}

.btn__write {
    width: 100px;
    padding: .5rem;
    color:var(--color-white);
    font-size: .85rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn__write:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
}

.btn__cancle,
.btn__success {
    width:calc((100% / 2) - 3px);
    display: inline-block;
    border-radius: 4px;
    padding: 1.25rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 200ms ease;
}

.btn__cancle {
    border: 1px solid var(--color-light-gray);
    color: var(--color-gray-text);
}

.btn__success {
    color: var(--color-white);
    background-color: var(--color-light-gray);
} 

.btn__cancle:hover {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.btn__success:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
/* customer_list style end */


/* customer_write style start */
.board__table {
    width: 100%;
    border-collapse: collapse;
}

.board__table td {
    padding: 2rem 0;
}

.board__table tr {
    border-bottom: 1px solid var(--color-li);
}

.board__table tr:last-child {
    border-bottom: none;
}

.board__title {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 4px;
    width: 100%;
}

.board__title__sub {
    width: 160px;
    min-width: 80px;
    padding: 0 2rem;
    font-size: 1.125rem;
    text-align: center;
    color: var(--color-gray);
    font-weight: 500;
}

.text__count {
    display: block;
    text-align: right;
    color:var(--color-text-gray);
    font-size: .85rem;
    font-weight: 400;
    margin-bottom: 4px;
}

.input__place__write,
.textarea__write {
    position: relative;
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--color-border);
}

.textarea__write {
    height: 300px;
    resize: none;
}

.input__place__write::placeholder,
.textarea__write::placeholder {
    color: var(--color-light-gray);
    font-size: 1rem;
    font-weight: 400;
}

.input__place__write:focus,
.textarea__write:focus {
    border: 1px solid transparent;
    outline: 1px solid var(--color-accent);
    box-shadow: 2px 2px 8px rgba(94, 237, 225, 0.2), -2px -2px 5px #fff;
}

.board__text__sub {
    font-size: .85rem;
    color: var(--color-gray-text);
    font-weight: 400;
}

.filebox {
    display: flex;
    gap: 8px;
}

.filebox label {
    display: inline-block;
    width: 160px;
    padding: .5rem;
    color: var(--color-gray);
    text-align: center;
    background-color: var(--color-light-gray);
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5;
    border-radius: 4px;
    transition: all 200ms ease;
}

.filebox label:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/* customer_write style end */

/* board read style start */
#board__read__form {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 2rem 0 8rem;
    padding: 1rem 2rem;
}

.write__btns {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-border);
}
.read__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
}

.read__title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    padding: 1rem 0;
}

.write__user__wrap {
    font-size: 1rem;
    color: var(--color-gray);
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-border);

}

.write__user,
.write__user__info {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.write__user__date {
    margin-left: 1rem;
}

.write__user__icon {
    width: 28px;
    height: 28px;
}

.read__content {
    height: 360px;
    margin-top: 2rem;
    padding: 1rem;

}

/* 뎃글부분 */

.comment__top__title {
    text-align: left;
    padding: 1rem 0;
    margin: 1rem 0;
}

.comment__count {
    color: red;
}

.comment__wrap {
    font-size: .85rem;
    color: var(--color-gray);
    border: 1px solid var(--color-border);
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.comment__user__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.comment__user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.comment__user__icon {
    width: 28px;
    height: 28px;
}

.comment__user__date {
    margin-left: 1rem;
}

.comment__read__content {
    padding: 1rem;
    font-size: 1rem;
}

.comment__btns{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1rem 0;
}

.comment__btns i {
    margin-right: 4px;
}

.comment__btn{
    margin-left: .5rem;
    padding: .25rem 1rem;
    color: var(--color-gray-text);
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.comment__btn:hover{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.comment__btn--red {
    margin-left: .5rem;
    padding: .25rem 1rem;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.comment__btn--red:hover {
    color: #fff;
    background-color: red;
    border: 1px solid red;
}

.comment__sub__wrap {
    font-size: .85rem;
    color: var(--color-gray);
    padding: 0 0 0 8rem;
    border-radius: 4px;
}

.comment__sub_backcolor {
    background-color: var(--color-border);
    padding: 1rem 2rem;
    border-radius: 4px;
}

.fa-arrow-turn-up {
    transform: rotate(90deg);
}

.comment__write__btns {
    border-radius: 3px;
    margin-top: 2rem;
    border-top: 1px solid var(--color-border);
    margin-top: 4rem;
    padding: 3rem 0;
}

.comment__write__wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.comment__write__area {
    height: 36px;
    padding: 1rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    width: 84%;
    height: 80px;
    font-size: .85rem;
}

.comment__write__area:focus {
    border: 1px solid transparent;
    outline: 1px solid var(--color-accent);
    box-shadow: 2px 2px 8px rgba(94, 237, 225, 0.2), -2px -2px 5px #fff;
}

.commment__write__btn {
    color: #fff;
    background-color: var(--color-primary);
    width: 16%;
    height: 80px;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 300ms ease;
}

.comment__sub__btn {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

/* board read style end */



@media screen and (max-width: 768px) {
    .filebox {
        flex-direction: column;
    }
}

/*-----------------------------------*\
#Sign__up.html
\*-----------------------------------*/
.sign__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
    margin: auto;
}

.sign__up__container,
.sign__in__container {
    width: 100%;
    max-width: 800px;
    min-width: 360px;
    padding: 2rem 3rem 4rem;
    margin-bottom: 4rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;
}


.sign__title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.sign__form {
    padding: 0 6px;
}

.sign__input {
    text-align: left;
}

.input__title {
    display: inline-block;
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
    box-shadow: inset 0 -10px 0 rgba(161, 244, 255, 0.5);
}

.input__title::after {
    content: '*';
    color: #eb4b29;
    font-size: 1rem;
    margin-left: 6px;
}

.input__place,
.textarea__place {
    position: relative;
    padding: 1rem;
    margin: .3rem 0 1rem 0;
    width: 100%;
    background-color: #fff;
    color: var(--color-black);
    font-size: .85rem;
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--color-border);
}

.textarea__place {
    height: 200px;
    resize: none;
}

.input__place::placeholder,
.textarea__place::placeholder {
    color: var(--color-light-gray);
    font-size: 1rem;
    font-weight: 400;
}

.input__place:focus,
.textarea__place:focus {
    border: 1px solid transparent;
    outline: 1px solid var(--color-accent);
    box-shadow: 2px 2px 8px rgba(94, 237, 225, 0.2), -2px -2px 5px #fff;
}

.agree__view__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    font-size: .85rem;
    text-wrap: wrap;
}

.password__save__box {
    margin: 0.5rem 0 1rem 0;
    font-size: .85rem;
    text-wrap: wrap;
}

.forgot__pw,
.sign__up__go,
.view__doc {
    margin-left: .5rem;
    color: var(--color-orange);
    text-decoration: underline;
    cursor: pointer;
    transition: all 200ms ease;
}

.forgot__pw:hover,
.sign__up__go:hover,
.view__doc:hover {
    color: var(--color-primary);
    transition: all 200ms ease;
}

.input__checkbox {
    width: 16px;
    top: 0;
    margin-right: .5rem;
}

.input__checkbox a {
    font-size: .8rem;
    text-align: right;
    text-decoration-line: underline;
    color: #eb4b29;
    font-weight: 500;
    margin-left: 24px;
}

.sign__in__btn {
    text-align: center;
    margin-top: 1rem;
}

.sign__button {
    width: 100%;
    margin-top: 2rem;

}

.sign__btn {
    width: 100%;
    display: inline-block;
    padding: .8rem 1rem;
    color: var(--color-gray);
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-accent);
    transition: all 300ms ease;
}

.sign__btn:hover {
    background-color: var(--color-white);
    outline: 2px solid var(--color-accent);
}


/*-----------------------------------*\
    #login.html
\*-----------------------------------*/
.login__section {
    margin: 4rem auto 10rem;
    padding: 0 10rem;
}

.form__login {
    position: relative;
    margin: auto;
    padding: 2rem;
    max-width: 600px;
    min-height: 420px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px;

}

.form__login .form__header {
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.form__login .form__header>div {
    width: calc(100% / 3);
    color: var(--color-light-gray);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.form__login.signup .form__header div.show__signup {
    color: var(--color-orange);
}

.form__login.signin .form__header div.show__signin {
    color: var(--color-orange);
}

.form__login.reset .form__header div.show__reset {
    color: var(--color-orange);
}

.form__login .form__elements {
    margin-top: 1rem;
}

.form__login .form__elements .form__element {
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.input__place--orange {
    position: relative;
    padding: 1rem;
    margin: .3rem 0 1rem 0;
    width: 100%;
    background-color: #fff;
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--color-light-orange);
}

.input__place--orange::placeholder {
    color: var(--color-gray-text);
    font-size: 1rem;
    font-weight: 400;
}

.input__place--orange:focus {
    border: 1px solid transparent;
    outline: 1px solid var(--color-orange);
    box-shadow: 2px 2px 8px rgba(237, 177, 94, 0.2),
        -2px -2px 5px rgba(237, 177, 94, 0.6);
}

.login__btn {
    width: 100%;
    padding: 1em;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    border-radius: 4px;
    background: var(--color-orange);
    color: var(--color-white);
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    transition: all 300ms ease;
}

.login__btn:focus {
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
    background-color: var(--color-white);
}

.form__login .arrow {
    position: absolute;
    top: 74px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-orange);
}

.form__login.signup .arrow {
    left: calc(calc(100% / 3) / 2);
}

.form__login.signin .arrow {
    left: calc(calc(100% / 3) + calc(calc(100% / 3) / 2.2));
}

.form__login.reset .arrow {
    left: calc(calc(calc(100% / 3) * 2) + calc(calc(100% / 3) / 3));
}

.form__login.signin .form__elements>div:nth-child(3) {
    height: 0px;
    opacity: 0;
}

.form__login.reset .form__elements>div:nth-child(2) {
    height: 0px;
    opacity: 0;
}


/*-----------------------------------*\
    #Cart.html
\*-----------------------------------*/
#cart {
    padding: 1rem 4rem;
}

.cart__wrap {
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    margin-bottom: 3rem;
}


.cart__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    color: var(--color-gray);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-light-gray);
}

.cart__header li,
.cart__single li {
    margin: .5rem 0;
}

.cart__single {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    color: var(--color-gray);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-light-gray);
}

.cart__single:last-child {
    border-bottom: 1px solid transparent;
}

.cart__header .product__name,
.cart__single .product__thumbnail {
    width: 180px;

}

.cart__header .product__p,
.cart__single .product__price {
    width: 120px;
}

.cart__header .product__qt,
.cart__single .product__quantity {
    width: 100px;
    display: flex;
    justify-content: center;
}

.cart__header .product__st,
.cart__single .product__total {
    width: 120px;
}

.cart__header .product__del,
.cart__single .remove__btns {
    width: 10%;
}

.remove__btn {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-light-gray);
}

.remove__btn:hover {
    color: var(--color-primary);
}

.product__thumbnail {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-text);
}

.thumbnail__img {
    width: 56px;
    height: 56px;
}

.thumbnail__name {
    color: var(--color-gray);
    padding-left: 1rem;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-box[type="number"] {
    -moz-appearance: textfield;
}

.quantity {
    position: relative;
    width: 80px;
    border-radius: 4px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    overflow: hidden;
}

.minus,
.plus {
    width: 20px;
    height: 20px;
    background-color: var(--color-light-gray);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.minus {
    position: absolute;
    top: 0;
    left: 0;
}

.plus {
    position: absolute;
    top: 0;
    right: 0;
}

.minus:hover,
.plus:hover {
    background-color: var(--color-primary);
    transition: all 200ms ease;
}

.counter {
    text-align: right;
    padding: 0 .5rem;
    color: var(--color-black);
}

.coupon__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.coupon label {
    display: none;
}

.input__text {
    margin-right: 1rem;
    padding: .8rem;
    width: 240px;
    font-weight: 400;
    color: var(--color-gray-text);
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
}

.coupon__btn {
    background-color: var(--color-accent);
    padding: .8rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.coupon__btn a {
    color: var(--color-gray);
    font-weight: 400;
}

.coupon__btn:hover {
    background-color: transparent;
    color: var(--color-primary);
    outline: 2px solid var(--color-accent);
}

.cart__title {
    margin: 1rem 0 .5rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.cart__totals {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    border: 2px solid var(--color-light-gray);
}

.sum__total,
.sale__total {
    display: flex;
    justify-content: right;
    gap: 1rem;
    font-size: .85rem;
    color: var(--color-gray)
}

.cart__total {
    display: flex;
    justify-content: right;
    gap: 1rem;
    font-size: 1.25rem;
    margin-top: 4px;
    padding-top: 1rem;
    border-top: 1px solid var(--color-border);
}

.money__container {
    min-width: 160px;
    text-align: right;
}

.check__out {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 4rem;
    padding: 1rem 0;
}

.check__out__btn {
    background-color: var(--color-accent);
    padding: .8rem 6rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.check__out__btn a {
    color: var(--color-gray);
    font-weight: bold;
    font-size: 1rem;
}

.check__out__btn:hover {
    background-color: transparent;
    color: var(--color-primary);
    outline: 2px solid var(--color-accent);
}


/*-----------------------------------*\
    #SIDEBAR
\*-----------------------------------*/

#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    padding: 40px;
    padding-block-end: 100px;
    overflow-y: auto;
    z-index: 100;
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
}

#sidebar.active {
    transform: translateX(-300px);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
}

.nav__toggles.toggle__open {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__toggles.toggle__close {
    display: block;
    color: var(--color-primary);
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar__wrapper {
    margin: 2rem 0;
    height: 1px;
    background-color: var(--color-light-gray);
}

.navbar {
    margin: 2rem 0;
}

.navbar__item {
    text-align: center;
    padding: 1rem 0;
    transition: all 200ms ease;
}

.navbar__item:hover {
    border-radius: 4px;
    outline: 1px solid var(--color-primary);

}

.navbar__item:not(:last-child) {
    margin-bottom: 0rem;
}

.navbar__link {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1rem;
    transition: all 300ms ease;
}

.cart__btn__wrap {
    width: 100%;
    text-align: center;
    transform: all 300ms ease;
}

.cart__btn {
    display: block;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: all 200ms ease;
}

.cart__btn:hover {
    color: var(--color-gray);
    background-color: var(--color-white);
    outline: 1px solid var(--color-gray);
}

.sign__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 2rem 0;
}

.sign__btn__small {
    font-size: 1rem;
    color: var(--color-gray);
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 200ms ease;
}

.sign__btn__small:hover {
    color:var(--color-accent);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*-----------------------------------*\
    #Breadcrumb
\*-----------------------------------*/

.breadcrumb__container {
    padding: 1rem 4rem;
    text-align: left;
}

.breadcrumb {
    display: inline-block;
}

.breadcrumb:not(:last-child) {
    margin-right: 12px;
}

.breadcrumb:not(:last-child)::after {
    content: ">";
    color: var(--color-text-gray);
    font-size: .85rem;
    margin-left: 12px;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a span {
    color: var(--color-light-gray);
}

.breadcrumb span {
    color: var(--color-white);
}


/*-----------------------------------*\
    # Tap style
\*-----------------------------------*/
/* 탭 전체 스타일 */
.tabs {
    position: relative;
    margin: 0 auto;
    margin-bottom: 6rem;
}


/* 탭 스타일 */
.tab__item {
    width: calc(100%/3);
    height: 50px;
    display: block;
    float: left;
    background-color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    color: var(--color-gray-text);
    text-align: center;
    border-radius: 4px 4px 0 0;
    transition: all 0.2s ease;
}


/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
    display: none;
}

/* 탭 컨텐츠 스타일 */
.tab__content {
    display: none;
    padding: 3rem 0;
    min-height: 800px;
    clear: both;
    overflow: hidden;
}

/* 선택 된 탭 콘텐츠를 표시 */
#tab__ing:checked~#tab__ing__content,
#tab__material:checked~#tab__material__content {
    display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked+.tab__item {
    color: var(--color-dark);
}

/* 선택된 탭 슬라이더 */
.tabs .label__slider {
    position: absolute;
    top: 46px;
    left: 0;
    height: 4px;
    width: calc(100%/3);
    border-radius: 2px;
    background-color: var(--color-orange);
    z-index: 10;
    transition: all 200ms ease;
}

#tab__material:checked~.label__slider {
    left: calc(100%/3);
}

@media screen and (max-width: 1024px) {
    .tab__item {
        width: calc(100%/2);
    }

    .tabs .label__slider {
        width: 50%;
    }

    #tab__material:checked~.label__slider {
        left: 50%;
    }
}

/*-----------------------------------*\
    # Arrow up
\*-----------------------------------*/
#arrow-up {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    height: 5rem;
    width: 5rem;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 300ms ease-in;
    z-index: 10;
}

#arrow-up-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: var(--color-black);
}



/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/
#contact {
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-text);
}

#contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1.3px);
    height: 80px;
    overflow: hidden;
    line-height: 0;
    background-color: var(--color-white);
    mask: var(--divider-single-triangle-small);
    -webkit-mask: var(--divider-single-triangle-small);
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3rem;
    width: 100%;
}

.footer__title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.footer__logo__img {
    width: 28px;
    height: 28px;
}

.footer__logo__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.footer__brand {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer__brand__lists:last-child {
    margin-top: 1rem;
}

.footer__brand__list {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 0.85rem;
}

.brand__links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    font-size: 1rem;
}

.contact__title {
    display: inline-block;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid var(--color-accent);
    margin-bottom: 1rem;
}

.contact__links {
    padding: 1rem 0;
    text-align: start;
    font-size: 0.8rem;
}

.contact__link {
    display: block;
    color: var(--color-primary-variant-2);
    margin-bottom: 0.3rem;
    transition: color 250ms ease-in;
}

.contact__link--icon {
    color: #fff;
    transition: color 250ms ease-in;
}

.contact__link:hover,
.contact__link--icon:hover {
    color: var(--color-accent);
}

.footer__form {
    position: relative;
}

.footer__email__field {
    width: 100%;
    color: var(--color-primary);
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-bottom: 1px solid var(--color-white);
    border-radius: 4px;
    background-color: var(--color-white);
    outline: none;
}

.footer__email__field::placeholder {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.footer__email__field:focus {
    border-color: var(--color-accent);
}

.footer__form__btn {
    position: absolute;
    top: .6rem;
    right: .3rem;
    bottom: 2rem;
    font-size: 1rem;
}

.footer__bottom {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    font-size: .7rem;
    font-weight: 400;
    color: var(--color-light-gray);
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright__link {
    display: inline-block;
    color: #fff;

}


/*-----------------------------------*\
    #Responsive
\*-----------------------------------*/

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

    .home__container {
        gap: 0rem;
        flex-direction: column;
        justify-content: center;
    }

    .home__avatar {
        width: 200px;
        height: 200px;
    }

    .header__menu__item {
        padding: 8px;
    }

    .header__icon {
        display: none;
    }

    .nav__toggles.toggle__open {
        display: block;
    }

    .home__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }


    .sign__section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem 8rem;
    }

    .top__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }

    .service__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;
    }


    .footer__top {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}


@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .header__nav {
        display: none;
    }

    .home__avatar {
        width: 160px;
        height: 160px;
    }

    .home__title {
        font-size: 2rem;
    }

    .home__description {
        font-size: 0.9rem;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .skills_content {
        padding-bottom: 1rem;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    #price {
        padding: 0 4rem;
    }

    #cart {
        padding: 1rem 1rem;
    }

    .product__thumbnail {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .form__comment {
        font-size: .75rem;
    }

    .sign__section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem 4rem;
    }

    .agree__box {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__top {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .breadcrumb {
        font-size: .85rem;
    }

}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {

    .header__logo__title {
        display: none;
    }

    .home__avatar {
        width: 160px;
        height: 160px;
    }

    .home__title {
        font-size: 1.5rem;
    }

    .home__description {
        font-size: 0.9rem;
    }

    .sign__section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: rem 2rem;
    }

    #price {
        padding: 0 2rem;
    }

    .breadcrumb__container {
        padding: 1rem 2rem;
    }

    .production__wrap {
        padding: 1rem;
    }




    .footer__top {
        gap: 2rem;
    }

    .footer__logo__title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .footer__brand__list {
        font-size: 0.7rem;
    }

    .brand__links {
        gap: 1rem;
    }

    .contact__links {
        padding: 0rem 0;
    }

    .contact__title {
        display: inline-block;
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    .contact__link {
        font-size: .8rem;
    }

    .copyright {
        font-size: 0.8rem;
    }

    #arrow-up {
        bottom: 1.5rem;
        right: 1.5rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        transition: opacity 300ms ease-in;
    }

    #arrow-up-value {
        height: calc(100% - 15px);
        width: calc(100% - 15px);
        border-radius: 50%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 320px) {}